
  <ol>
    <% @posts.each do |post| %>
    
    <% unless @user != nil && @user.include?(post) %>
      <form class= "upvote" method="upvote" action="/upvote/<%= post.id %>"data-post-id="<%= post.id %>"> 
        <input type="submit" value="&#x25B2;">
      </form>
    <% end %>

    <li> <a href="<%= post.hyperlink %>"><%= post.title %></a> 
      <span data-post-id="<%= post.id %>"><%= post.post_votes.count%> votes!</span>
      <a href="/posts/<%= post.id %>">
        <%= post.comments.count %> comments
      </a>
    </li>
   
  <% end %>
  </ol>

